.App {
  text-align: center;
}

.App-Navbar {
  background-color: #0d121a;
  color: white;
  display: flex;
}


.App-stuff {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}